{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe
{% endblock %}
{% block importmap %}
	{# importmap('password') #}
{% endblock %}
{% block body %}
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-96">
            <div class="text-center mb-8">
                <h1 class="text-3xl font-bold text-gray-800">Welcome Back</h1>
                <p class="text-gray-500">Sign in to continue </p>
            </div>

            {{ form_start(resetForm, {attr: {
                novalidate: "novalidate",id:"reset_password_form",
                class: "space-y-6",
            }}) }}

                <div>
                    {{ form_widget(resetForm.plainPassword) }}
                </div>

                <button type="submit" id="change_password_form_submit" class="btn-submit">
                    Submit
                </button>
            {{ form_end(resetForm) }}
            <div class="mt-8">
                <div class="relative">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-300"></div>
                    </div>
                    <div class="relative flex justify-center text-sm">
                    <span class="px-2 bg-white text-gray-500">
                    </span>
                    </div>
                </div>

                <div class="mt-6 flex justify-center">
                    <button id="fingerprintBtn" type="button"
                            class="p-3 rounded-full bg-gray-100 hover:bg-gray-200 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
